body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #271b5e;
}
header {
    background-color: #881818;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav {
    margin-top: 10px;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #555;
    border-radius: 10px;
    margin: 5 10px;
}
.nav-link:hover {
    background-color: #777;
}
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
footer {
    background-color: #28a1e7;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}